<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autosivusto</title>
    <link rel="stylesheet" href="inc/styles.css">
</head>
<body>
<div class="header">
    <form action="/lisaa" id="hae" method="POST">
        <input  id="etsi"  type="text" placeholder="suorita haku" name="merkki">
        <button type="submit"value="Hae" id="Hae">Hae auto</button>
    </form>  
    <h1>Autosivusto</h1> 
</div> 
<div id="valiko">
    <a class="item" href="/">Autolista</a>
    <a class="item" href="/lisaa">Lisää auto</a>
</div>


